@import url('https://fonts.googleapis.com/css?family=Times New Roman');

/* html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Times New Roman', sans-serif;
} */ 
.regt{
  /*color: rgb(72, 138, 224);*/
  color: red;

}

.explore_btn1 {
	padding: 14px 28px;
	/*background: red;*/
	/*background: #3498db;*/
	background-color: #DE3242;
	border-radius: 12px;
	color: #fff;
	transition: all 0.3s linear;
	font-weight: bold;
	font-size: 15px;
	border: none;
}


.explore_btn1:hover{
	background-color: #C12937;
}


.Login-component {
  background: url() no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 1366px; */
  /* height: 642px; */
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  align-content: center;
  }

.account-pages {
      padding: 100px 100px;
      
  
}
.card{
    min-height: 400px;
    margin-bottom: auto;
    width: 100%;
    background-color: #ffffff !important;
}
    
.card-header{
        font-size:15px;
        color:#ffffff ;
        font-family: 'Times New Roman', sans-serif;
        height:auto;
        display: inline-block;
}
    
.Logo {
    position: left;
  }
  
