@import url('https://fonts.googleapis.com/css?family=Times New Roman');

/* html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Times New Roman', sans-serif;
} */


.Login-component {
    background: url(../User/img.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 1366px; */
    /* height: 642px; */
    width: 100%;
    height: auto;
}
 
.container{
height: 100%;
align-content: center;
}
.account-pages {
    /* height: 100%; */
    /* weight: 100%; */
    /* padding: 90px 0px; */
    margin-top: 17px;
    margin-bottom: 45px;

  }
  .account-pages0 {
    /* height: 100%; */
    /* weight: 100%; */
    /* padding: 90px 0px; */
    margin-top: 90px;
    margin-bottom: 120px;

  }
  .account-pages1 {
    /* height: 100%; */
    /* weight: 100%; */
    /* padding: 90px 0px; */
    margin-top: 40px;


  }
.card{
min-height: 370px;
/* margin-top: 100px; */
/* margin-bottom: 113px; */
/* margin-bottom: 5; */
width: 100%;
/* height: 100%; */
background-color: #daedf7 !important;
}

.card-header{
    font-size:15px;
    color:#fff ;
    font-style: italic;
    height:auto;
    display: block;
}

.explore_btn1 {
	padding: 14px 28px;
	/*background: red;*/
	/*background: #3498db;*/
	background-color: #DE3242;
	border-radius: 12px;
	color: #fff;
	transition: all 0.3s linear;
	font-weight: bold;
	font-size: 15px;
	border: none;
}


.explore_btn1:hover{
	background-color: #C12937;
}


.lrtxt{
  color:gray;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: right;
	font-style: normal;
	font-size: 50px;
	
}

.Logo {
    position: left;
  }
